<!DOCTYPE html>
<html>
<head>
  <title>RactiveForm Example</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

</head>
<body>

  <div class="container">
    <h1>Hello world</h1>
    <h2>Ractive boilerplate</h2>    
    <div class="well" id="ractiveContainer"></div>
  </div>

  {{#templates}}
    <script type="text/ractive" id="{{id}}">{{{content}}}</script>
  {{/templates}}

  <script type="text/javascript" src="/js/build.js"></script>
</body>
</html>